@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/main.scss";

.books__page {
  background-color: $beigeMain;
  padding: 5rem 0 3rem 0;
  h1 {
    text-align: center;
    margin: 1.5rem;
  }

  // .book:nth-child(even) .row {
  //   flex-flow: row-reverse;
  //   flex-wrap: wrap;
  //   margin-bottom: 3rem;
  // }

  .book .row {
    flex-flow: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    align-items: center;

    @media (min-width: $tablet) {
      align-items: initial;
    }
  }

  .book {
    margin-bottom: 2rem;
    text-align: center;
    @media (min-width: $mobile-lg) {
      text-align: left;
    }
    h2 {
      margin-bottom: 2rem;
      position: relative;
      font-size: 2.15rem;
      margin-top: 0;
      @media (min-width: $mobile-lg) {
        font-size: 2.25rem;
      }
      @media (min-width: $tablet) {
        font-size: 3rem;
      }
      // &::after {
      //   position: absolute;
      //   top: 50%;
      //   left: -50%;
      //   content: "";
      //   height: 3px;
      //   width: 7rem;
      //   background-color: $orangeMain;
      // }
    }
    &__image {
      max-width: 75%;
      height: 320px;
      margin: auto;
      @media (min-width: $mobile-md) {
        height: 360px;
      }
      @media (min-width: $tablet) {
        height: 450px;
        max-width: 85%;
      }
      @media (min-width: $laptop) {
        max-width: 60%;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
