@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/main.scss";

.books__page {
  background-color: $beigeMain;
  padding: 5rem 0;

  h1 {
    text-align: center;
    margin: 1.5rem;
  }

  // .book:nth-child(even) .row {
  //   flex-flow: row-reverse;
  //   flex-wrap: wrap;
  //   margin-bottom: 3rem;
  // }

  .book .row {
    flex-flow: row-reverse;
    flex-wrap: wrap;
    margin-bottom: 3rem;
  }

  .book {
    margin-bottom: 2rem;
    text-align: left;
    h2 {
      margin-bottom: 2rem;
      position: relative;
      &::after {
        position: absolute;
        top: 50%;
        left: -50%;
        content: "";
        height: 3px;
        width: 7rem;
        background-color: $orangeMain;
      }
    }
    &__image {
      max-width: 100%;
      height: 450px;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
}
