@import "./main.scss";

.admin__layout {
  .main__content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
}
