@mixin display-flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin display-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin display-column-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-center-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
