@mixin display-flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@mixin display-flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}