@import "../../assets/scss/variables.scss";
@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/main.scss";

.home {
  background-color: $orangeMain;
  padding-top: 3rem;
  &__hero {
    height: 30vh;
    margin-top: 6rem;
    background-color: $orangeMain;
    @include display-flex-column;

    @media (min-height: 750px) {
      //height of screen
      margin-top: 3rem;
    }
  }

  &__image-wrap {
    display: flex;
  }

  &__image-container {
    margin: 0.75rem;
  }

  &__image-image {
    filter: $shadow;
    max-width: 270px;
    height: 370px;
  }

  &__main {
    min-height: 60vh;
    background-color: $beigeMain;
    margin-top: 3rem;
    padding: 5.75rem 1rem;
    text-align: center;
  }
}

.authored {
  margin: $sectionSpacer;
  &__books {
    &-wrap {
      text-decoration: none;
      color: $blackMain;
      &:hover {
        color: inherit;
      }
    }
    &-image {
      max-width: 270px;
      height: 370px;
      display: block;
      margin: 2rem auto;
    }
  }
}

.contact {
  margin-top: 2rem;
  background-color: $orangeMain;
  text-align: center;
  position: relative;
  padding: 2rem 0 4rem 0;
  h2 {
    position: absolute;
    top: -85px;
    left: 50%;
    transform: translateX(-50%);
  }

  form {
    text-align: left;
  }

  .form-group {
    margin-bottom: 1rem;
    font-size: 0.85rem;
  }

  .form-control {
    border: none;
  }
}
