@import "../../../assets/scss/main.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/variables.scss";

.nav {
  width: 100%;
  background-color: $orangeMain;
  @include display-flex-between;
  padding: 0.75rem 1rem;

  &__right {
    @media (max-width: 767px) {
      display: none;
      position: absolute;
      top: 3rem;
      left: 0;
      width: 100%;
      background: $orangeMain;
    }
  }

  &__control {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__list {
    @include flex-center-list;
    @media (max-width: 767px) {
      display: block;
    }
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    color: $blackMain;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: $blackMain;
    }
  }
}

.nav__right.showing {
  @media (max-width: 767px) {
    display: block;
  }
}

.nav__right.not-showing {
  @media (max-width: 767px) {
    display: none;
  }
}
