@import "../../../assets/scss/main.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/variables.scss";

.nav {
  width: 100%;
  background-color: $orangeMain;
  @include display-flex-between;
  padding: 0.75rem 1rem;
  &__list {
    @include flex-center-list;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    color: $blackMain;
    cursor: pointer;
    text-decoration: none;
    &:hover {
      color: $blackMain;
    }
  }
}
