@import "../../../assets/scss/main.scss";
@import "../../../assets/scss/mixins.scss";
@import "../../../assets/scss/variables.scss";

.nav {
  width: 100%;
  background-color: transparent;
  background-image: none;
  background-color: $blackMain;
  opacity: 1;
  @include display-flex-between;
  padding: 0.75rem 1rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  @media (min-width: 767px) {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.09)
    );
    background-color: transparent;
  }
  &__right {
    @media (max-width: 767px) {
      transform: translateX(-140%);
      position: fixed;
      top: 3.65rem;
      left: 0;
      width: 60%;
      background: $blackMain;
      height: 100vh;
    }
  }

  &__control {
    display: none;
    button {
      background-color: $beigeMain;
      height: 35px;
      width: 35px;
      position: relative;

      border: none;
      border-radius: 4px;

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: $blackMain;
        height: 2px;
        width: 20px;
        transform: translate(-50%, -50%);

        &:nth-child(1) {
          top: 30%;
        }
        &:nth-child(3) {
          top: 70%;
        }
      }
    }

    @media (max-width: 767px) {
      display: block;
      @include button-reset;
    }
  }

  &__list {
    @include flex-center-list;
    @media (max-width: 767px) {
      display: block;
    }
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    color: $superlight-grey;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
    &:hover {
      color: $beigeMain;
      @media (min-width: 767px) {
        color: $blackMain;
      }
    }

    @media (min-width: $mobile-lg) and (max-width: $laptop-sm) {
      font-size: 1.1rem;
    }
  }
}

.nav__right {
  transition: all 0.5s ease-in-out;
}

.nav__right.showing {
  @media (max-width: 767px) {
    transform: translateX(0);
  }
}

.nav__right.not-showing {
  @media (max-width: 767px) {
    transform: translateX(-140%);
  }
}
