@import "../../assets/scss/mixins.scss";
@import "../../assets/scss/variables.scss";

.about {
  margin: $sectionSpacer;
  text-align: left;
  .h1 {
    // text-align: center;
    font-size: 4rem;
    margin: 2rem 0;
    position: relative;
    &::after {
      content: "";
      display: block;
      height: 3px;
      width: 7rem;
      background-color: $orangeMain;
      position: absolute;
      top: 50%;
      left: -50%;
    }
  }
  &__image {
    // border-radius: 50%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    filter: $shadow;
  }
}
